<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/src/public/images/moto-gp.png" type="image/png">
    <link rel="stylesheet" href="../../../public/css/main.css" />
    <link rel="stylesheet" href="../../../public/css/rider-team.css" />
    <link rel="stylesheet" href="../../../public/css/result-standing.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Team - MotoGP™</title>
    <style>
        .container {
            max-width: 90%;
            margin: 30px auto;
        }

        .add-button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 10px;
            margin-left: 1%;
        }

        .delete-button {
            background-color: #f5222d;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 10px;
            margin-left: 1%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>
    <!--Main nav-->
    <script src="../../mainnavbar.js"></script>
    <!--In ra danh sach-->
    <!--Rider, Team, Legend-->
    <div class="tabs-header">
        <nav class="tabs widget-outer-spacing">
            <ul class="tabs__list tabs__list--center">
                <li class="tabs__item">
                    <a class="tabs__link" href="/src/views/RiderViews/riders.html">
                        <span class="tabs__link-text"> Riders </span>
                    </a>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link" href="/src/views/TeamViews/teams.html">
                        <span class="tabs__link-text"> Teams </span>
                    </a>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link  is-active" href="/src/views/TeamManager/index/index.html">
                        <span class="tabs__link-text">Team Manager</span>
                    </a>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link" href="/src/views/RiderManager/index/index.html">
                        <span class="tabs__link-text">Rider Manager</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <button class="add-button" onclick="window.location.href='../create/index.html'">Create Team</button>
        <button class="delete-button" onclick="deleteSelectedTeams()">Delete Team</button>
        <table>
            <thead>
                <tr>
                    <th style="width: 5px;">Delete</th>
                    <th style="width: 5px;">Edit</th>
                    <th class="results-table__header-cell results-table__header-cell--time">#</th>
                    <th class="results-table__header-cell results-table__header-cell--time">Name</th>
                    <th class="results-table__header-cell results-table__header-cell--time">BackgroundName</th>
                    <th class="results-table__header-cell results-table__header-cell--time">Image</th>
                    <th class="results-table__header-cell results-table__header-cell--time">Category</th>
                    <th class="results-table__header-cell results-table__header-cell--time">Rider 1</th>
                    <th class="results-table__header-cell results-table__header-cell--time">Rider 2</th>
                </tr>
            <tbody id="teams-table-body">
                <!-- Dữ liệu sẽ được thêm vào đây -->
            </tbody>
            </thead>
        </table>
    </div>

    <!--Footer-->
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__logo-container">
                <a class="footer__logo"></a>
            </div>
            <section class="footer-sponsors">
                <div class="footer-sponsors__container">
                    <div class="footer-sponsors__title">Official Sponsors</div>
                    <div class="footer-sponsors__list">
                        <a class="footer-sponsors__sponsor">
                            <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                                <picture class="picture">
                                    <source class="" srcset="
                            https://resources.motogp.pulselive.com/photo-resources/2024/05/09/74b76695-1cf4-4776-8a3a-e5e28a32b484/sponsor-qatar.png?width=100,
                            https://resources.motogp.pulselive.com/photo-resources/2024/05/09/74b76695-1cf4-4776-8a3a-e5e28a32b484/sponsor-qatar.png?width=200 2x
                          " media="(min-width: 0px)" />
                                    <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                                        src="https://resources.motogp.pulselive.com/photo-resources/2024/05/09/74b76695-1cf4-4776-8a3a-e5e28a32b484/sponsor-qatar.png?width=100"
                                        alt="sponsor-qatar" />
                                </picture>
                            </div>
                        </a>

                        <a class="footer-sponsors__sponsor">
                            <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                                <picture class="picture">
                                    <source class="" srcset="
                            https://resources.motogp.pulselive.com/photo-resources/2024/09/12/179ab216-720b-4b7c-bc32-c7579a8b1cc2/Tissot_Main_Sponsor.png?width=100,
                            https://resources.motogp.pulselive.com/photo-resources/2024/09/12/179ab216-720b-4b7c-bc32-c7579a8b1cc2/Tissot_Main_Sponsor.png?width=200 2x
                          " media="(min-width: 0px)" />
                                    <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                                        src="https://resources.motogp.pulselive.com/photo-resources/2024/09/12/179ab216-720b-4b7c-bc32-c7579a8b1cc2/Tissot_Main_Sponsor.png?width=100"
                                        alt="Tissot_Main_Sponsor" />
                                </picture>
                            </div>
                        </a>

                        <a class="footer-sponsors__sponsor">
                            <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                                <picture class="picture">
                                    <source class="" srcset="
                            https://resources.motogp.pulselive.com/photo-resources/2023/03/27/6499fb7c-58c7-4e12-b107-98156ed85931/MICHELIN_logo.png?width=100,
                            https://resources.motogp.pulselive.com/photo-resources/2023/03/27/6499fb7c-58c7-4e12-b107-98156ed85931/MICHELIN_logo.png?width=200 2x
                          " media="(min-width: 0px)" />
                                    <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                                        src="https://resources.motogp.pulselive.com/photo-resources/2023/03/27/6499fb7c-58c7-4e12-b107-98156ed85931/MICHELIN_logo.png?width=100"
                                        alt="MICHELIN_logo" />
                                </picture>
                            </div>
                        </a>

                        <a class="footer-sponsors__sponsor">
                            <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                                <picture class="picture">
                                    <source class="" srcset="
                            https://resources.motogp.pulselive.com/photo-resources/2023/10/25/f0612155-0f76-452f-9db8-348c37fdd01b/BMW-M_logo.png?width=100,
                            https://resources.motogp.pulselive.com/photo-resources/2023/10/25/f0612155-0f76-452f-9db8-348c37fdd01b/BMW-M_logo.png?width=200 2x
                          " media="(min-width: 0px)" />
                                    <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                                        src="https://resources.motogp.pulselive.com/photo-resources/2023/10/25/f0612155-0f76-452f-9db8-348c37fdd01b/BMW-M_logo.png?width=100"
                                        alt="BMW-M_logo" />
                                </picture>
                            </div>
                        </a>

                        <a class="footer-sponsors__sponsor">
                            <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                                <picture class="picture">
                                    <source class="" srcset="
                            https://resources.motogp.pulselive.com/photo-resources/2023/04/17/8a22cccc-b9e4-4b80-8a78-da85a042adf2/EstrellaGalicia_Logo.png?width=100,
                            https://resources.motogp.pulselive.com/photo-resources/2023/04/17/8a22cccc-b9e4-4b80-8a78-da85a042adf2/EstrellaGalicia_Logo.png?width=200 2x
                          " media="(min-width: 0px)" />
                                    <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                                        src="https://resources.motogp.pulselive.com/photo-resources/2023/04/17/8a22cccc-b9e4-4b80-8a78-da85a042adf2/EstrellaGalicia_Logo.png?width=100"
                                        alt="EstrellaGalicia_Logo" />
                                </picture>
                            </div>
                        </a>

                        <a class="footer-sponsors__sponsor">
                            <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                                <picture class="picture">
                                    <source class="" srcset="
                            https://resources.motogp.pulselive.com/photo-resources/2023/03/27/ef2af200-beec-45b5-bfac-0e9b453ad4ed/DHL_logo.png?width=100,
                            https://resources.motogp.pulselive.com/photo-resources/2023/03/27/ef2af200-beec-45b5-bfac-0e9b453ad4ed/DHL_logo.png?width=200 2x
                          " media="(min-width: 0px)" />
                                    <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                                        src="https://resources.motogp.pulselive.com/photo-resources/2023/03/27/ef2af200-beec-45b5-bfac-0e9b453ad4ed/DHL_logo.png?width=100"
                                        alt="DHL_logo" />
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="footer__menu-container">
                <div class="footer__menu-section">
                    <div class="footer__menu-title">Media & Commercial</div>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Official Sponsors </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> TV Broadcast </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> MotoGP™ Apps </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu-section">
                    <div class="footer__menu-title">Help</div>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Contact us </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link">FAQ </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Join MotoGP™ </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu-section">
                    <div class="footer__menu-title">Tickets & Hospitality</div>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Tickets</a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Hospitality </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Experiences </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu-section">
                    <div class="footer__menu-title">Game Hub</div>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> MotoGP™ Fantasy </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> MotoGP™ Predictor </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> MotoGP™ eSport </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> MotoGP™ Guru </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> MotoGP™24 </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu-section">
                    <div class="footer__menu-title">About Us</div>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Dorna Sports </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Cookie Policy </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Legal Notice </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Privacy Policy </a>
                        </li>

                        <li class="footer__menu-item">
                            <a class="footer__menu-link"> Purchase Policy </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__copyright">© 2024 nhom 3</div>
        </div>
    </footer>
    <!--Script-->
    <script src="./index.js"></script>
    <script src="https://kit.fontawesome.com/91c8b57a30.js" crossorigin="anonymous"></script>
</body>

</html>