<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>motoGP</title>
  <link rel="stylesheet" href="../public/css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header class="main-nav">
    <div class="main-nav__desktop-top-nav">
      <div class="global-top-nav">
        <div class="global-top-nav__container">
          <ul class="global-top-nav__menu-list">
            <li class="global-top-nav__item" style="order: 1">
              <a class="global-top-nav__link">#RacingForTheFuture</a>
            </li>
            <li class="global-top-nav__item" style="order: 2">
              <a class="global-top-nav__link">Tickets</a>
            </li>
            <li class="global-top-nav__item" style="order: 3">
              <a class="global-top-nav__link">Hospitality</a>
            </li>
            <li class="global-top-nav__item" style="order: 4">
              <a class="global-top-nav__link">Experiences</a>
            </li>
            <li class="global-top-nav__item" style="order: 5">
              <a class="global-top-nav__link">Store</a>
            </li>
            <li class="global-top-nav__item" style="order: 6">
              <a class="global-top-nav__link">Authentics</a>
            </li>
          </ul>
          <ul class="global-top-nav__subcription-list">
            <li class="global-top-nav__item timingpass">
              <a class="global-top-nav__link external-link timingpass">
                MotoGP™TIMINGPASS
              </a>
            </li>
            <li class="global-top-nav__item videopass">
              <a class="global-top-nav__link videopass"> MotoGP™VIDEOPASS </a>
            </li>
          </ul>
          <span class="global-top-nav__subscribe-container">
            <a class="global-top-nav__subscribe-btn">Subscribe</a>
          </span>
          <div class="global-top-nav__fim">
            <a class="global-top-nav__fim-logo"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-nav__container">
      <div class="main-nav__wrapper">
        <div class="main-nav__content">
          <button class="main-nav__overlay-menu-btn">
            <svg class=" " aria-hidden="true">
              <i class="fa-solid fa-bars" style="color: #ffffff"></i>
            </svg>
          </button>
          <a id="navigateBtnHomePage" class="main-nav__logo-75"></a>
          <div class="main-nav__menu-container">
            <ul class="main-nav__menu-list">
              <li class="main-nav__item" id="navigateBtnCalendar">
                <a class="main-nav__link"> Calendar </a>
              </li>
              <li class="main-nav__item" id="navigateBtnResults&Standings">
                <a class="main-nav__link"> Results & Standings </a>
              </li>
              <li class="main-nav__item" id="navigateBtnRiders&Teams">
                <a class="main-nav__link"> Riders & Teams </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link"> VideoPass </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link"> Videos </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link"> News </a>
              </li>
            </ul>
          </div>
          <div class="sso sso--main-bar">
            <a class="sso__login-btn">Login</a>
            <a class="sso__register-btn">
              <span class="sso__register-btn-text sso__register-btn-text--bold">Register</span>
              <div class="sso__picture">
                <svg class="icon" aria-hidden="true">
                  <i class="fa-solid fa-helmet-un" style="color: #ffffff"></i>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="main-content">
    <div class="default-template">
      <div class="content-hero content-hero--mixed">
        <h1 class="content-hero__header">#MotoGP</h1>
        <a class="content-hero__container">
          <div class="content-hero__background">
            <div class="u-observed lazy-image-wrapper is-loaded">
              <picture class="picture">
                <source class="" srcset="
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=450&height=253.13,
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=900&height=506.26 2x
                    " media="(max-width: 450px)" />
                <source class="" srcset="
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=840&height=472.5,
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=1680height=945   2x
                    " media="(max-width: 839px)" />
                <source class="" srcset="
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=1920&height=1080,
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=3840& height=2160 2x
                    " media="(min-width: 840px)" />
                <img class="fade-in-on-load picture__img is-loaded"
                  src="https://resources.motogp.pulselive.com/photo-resources/2024/09/10/5765fea2-061f-42e3-81c5-1f5243b44ec8/Talking-Points-San-Marino-GP.jpg?width=1580&height=812"
                  alt="Talking Points, San Marino GP" />
              </picture>
            </div>
            <div class="content-hero__background-gradient"></div>
          </div>

          <div class="content-hero__container-details">
            <div class="content-hero__tags">
              <div class="content-hero__motogp-news">MotoGP™</div>
            </div>
            <span class="content-hero__title">San Marino GP Talking Points: "Maybe that’s why I
              stopped"</span>
            <div class="content-hero__cta">Read Now</div>
          </div>
        </a>
      </div>
      <section class="categories-rail categories-rail--light slider categories-rail--no-hover">
        <div class="widget">
          <div class="categories-rail__wrapper">
            <ul class="slider__list categories-rail__slider" style="transform: translate3d(0px, 0px, 0px)">
              <li class="categories-rail__item slider__item is-active">
                <a class="categories-rail__item-link">
                  <div class="categories-rail__background-container"></div>
                  <h3 class="categories-rail__title">Schedule</h3>
                </a>
              </li>

              <li class="categories-rail__item slider__item is-active">
                <a class="categories-rail__item-link">
                  <div class="categories-rail__background-container"></div>
                  <h3 class="categories-rail__title">Standings</h3>
                </a>
              </li>

              <li class="categories-rail__item slider__item is-active">
                <a class="categories-rail__item-link">
                  <div class="categories-rail__background-container"></div>
                  <h3 class="categories-rail__title">Results</h3>
                </a>
              </li>

              <li class="categories-rail__item slider__item is-active">
                <a class="categories-rail__item-link">
                  <div class="categories-rail__background-container"></div>
                  <h3 class="categories-rail__title">Watch Videos</h3>
                </a>
              </li>

              <li class="categories-rail__item slider__item is-active">
                <a class="categories-rail__item-link">
                  <div class="categories-rail__background-container"></div>
                  <h3 class="categories-rail__title">Circuit Records</h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div class="content-hero content-hero--article content-hero--single-item">
        <a class="content-hero__container">
          <div class="content-hero__background">
            <div class="u-observed lazy-image-wrapper is-loaded">
              <picture class="picture">
                <source class="" srcset="
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=450&height=253.13,
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=900&height=506.26 2x
                    " media="(max-width: 450px)" />
                <source class="" srcset="
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=840&height=472.5,
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=1680&height=945  2x
                    " media="(max-width: 839px)" />
                <source class="" srcset="
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=1920&height=1080,
                      https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=3840&height=2160 2x
                    " media="(min-width: 840px)" />
                <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                  src="https://resources.motogp.pulselive.com/photo-resources/2024/09/10/3a622e0d-a043-480f-87f2-0cac65124058/Nick-Harris-blog-Post-San-Marino-GP.jpg?width=1580&height=812"
                  alt="Nick Harris blog, Post San Marino GP" />
              </picture>
            </div>
          </div>
          <div class="content-hero__container-details">
            <div class="content-hero__tags">
              <div class="content-hero__motogp-news">MotoGP™ News</div>
            </div>
            <h1 class="content-hero__title">
              Raindrops stopped falling on his head
            </h1>
            <div class="content-hero__cta">Read Now</div>
          </div>
        </a>
      </div>
      <section class="single-promo widget">
        <div class="single-promo__container">
          <div class="single-promo__promo-container left-aligned">
            <div class="single-promo__promo-image">
              <a class="single-promo__image-link">
                <div class="u-observed lazy-image-wrapper is-loaded">
                  <picture class="object-fit-cover-picture">
                    <source class="" srcset="
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=368&height=194,
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=736&height=388 2x
                        " media="(max-width: 400px)" />
                    <source class="" srcset="
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=610&height=194,
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=1220&height=388 2x
                        " media="(max-width: 640px)" />
                    <source class="" srcset="
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=810&height=194,
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=1620&height=388 2x
                        " media="(max-width: 839px)" />
                    <source class="" srcset="
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=1110&height=400,
                          https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=2220&height=800 2x
                        " media="(min-width: 840px)" />
                    <img class="js-faded-image fade-in-on-load object-fit-cover-picture__img is-loaded"
                      src="https://resources.motogp.pulselive.com/photo-resources/2024/08/08/28949a52-9513-46d6-801b-23a59cff3db0/MGP_2024_RACING_FOR_THE_FUTURE_Web_Single_Promo_Home_V1.jpg?width=1110&height=400"
                      alt="RACING_FOR_THE_FUTURE" />
                  </picture>
                </div>
              </a>
            </div>
            <div class="single-promo__promo-text">
              <a class="single-promo__promo-title">Racing for the Future</a>
              <p class="single-promo__promo-description">
                MotoGP™ makes a positive impact on people, place and planet.
                Everything we do to make the world a better place is an
                initiative we call Racing For the Future.
              </p>
              <a class="single-promo__promo-button cta"> Find out more </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <div class="footer__logo-container">
        <a class="footer__logo"></a>
      </div>
      <section class="footer-sponsors">
        <div class="footer-sponsors__container">
          <div class="footer-sponsors__title">Official Sponsors</div>
          <div class="footer-sponsors__list">
            <a class="footer-sponsors__sponsor">
              <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                <picture class="picture">
                  <source class="" srcset="
                        https://resources.motogp.pulselive.com/photo-resources/2024/05/09/74b76695-1cf4-4776-8a3a-e5e28a32b484/sponsor-qatar.png?width=100,
                        https://resources.motogp.pulselive.com/photo-resources/2024/05/09/74b76695-1cf4-4776-8a3a-e5e28a32b484/sponsor-qatar.png?width=200 2x
                      " media="(min-width: 0px)" />
                  <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                    src="https://resources.motogp.pulselive.com/photo-resources/2024/05/09/74b76695-1cf4-4776-8a3a-e5e28a32b484/sponsor-qatar.png?width=100"
                    alt="sponsor-qatar" />
                </picture>
              </div>
            </a>

            <a class="footer-sponsors__sponsor">
              <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                <picture class="picture">
                  <source class="" srcset="
                        https://resources.motogp.pulselive.com/photo-resources/2024/09/12/179ab216-720b-4b7c-bc32-c7579a8b1cc2/Tissot_Main_Sponsor.png?width=100,
                        https://resources.motogp.pulselive.com/photo-resources/2024/09/12/179ab216-720b-4b7c-bc32-c7579a8b1cc2/Tissot_Main_Sponsor.png?width=200 2x
                      " media="(min-width: 0px)" />
                  <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                    src="https://resources.motogp.pulselive.com/photo-resources/2024/09/12/179ab216-720b-4b7c-bc32-c7579a8b1cc2/Tissot_Main_Sponsor.png?width=100"
                    alt="Tissot_Main_Sponsor" />
                </picture>
              </div>
            </a>

            <a class="footer-sponsors__sponsor">
              <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                <picture class="picture">
                  <source class="" srcset="
                        https://resources.motogp.pulselive.com/photo-resources/2023/03/27/6499fb7c-58c7-4e12-b107-98156ed85931/MICHELIN_logo.png?width=100,
                        https://resources.motogp.pulselive.com/photo-resources/2023/03/27/6499fb7c-58c7-4e12-b107-98156ed85931/MICHELIN_logo.png?width=200 2x
                      " media="(min-width: 0px)" />
                  <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                    src="https://resources.motogp.pulselive.com/photo-resources/2023/03/27/6499fb7c-58c7-4e12-b107-98156ed85931/MICHELIN_logo.png?width=100"
                    alt="MICHELIN_logo" />
                </picture>
              </div>
            </a>

            <a class="footer-sponsors__sponsor">
              <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                <picture class="picture">
                  <source class="" srcset="
                        https://resources.motogp.pulselive.com/photo-resources/2023/10/25/f0612155-0f76-452f-9db8-348c37fdd01b/BMW-M_logo.png?width=100,
                        https://resources.motogp.pulselive.com/photo-resources/2023/10/25/f0612155-0f76-452f-9db8-348c37fdd01b/BMW-M_logo.png?width=200 2x
                      " media="(min-width: 0px)" />
                  <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                    src="https://resources.motogp.pulselive.com/photo-resources/2023/10/25/f0612155-0f76-452f-9db8-348c37fdd01b/BMW-M_logo.png?width=100"
                    alt="BMW-M_logo" />
                </picture>
              </div>
            </a>

            <a class="footer-sponsors__sponsor">
              <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                <picture class="picture">
                  <source class="" srcset="
                        https://resources.motogp.pulselive.com/photo-resources/2023/04/17/8a22cccc-b9e4-4b80-8a78-da85a042adf2/EstrellaGalicia_Logo.png?width=100,
                        https://resources.motogp.pulselive.com/photo-resources/2023/04/17/8a22cccc-b9e4-4b80-8a78-da85a042adf2/EstrellaGalicia_Logo.png?width=200 2x
                      " media="(min-width: 0px)" />
                  <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                    src="https://resources.motogp.pulselive.com/photo-resources/2023/04/17/8a22cccc-b9e4-4b80-8a78-da85a042adf2/EstrellaGalicia_Logo.png?width=100"
                    alt="EstrellaGalicia_Logo" />
                </picture>
              </div>
            </a>

            <a class="footer-sponsors__sponsor">
              <div class="js-lazy-load u-observed lazy-image-wrapper is-loaded">
                <picture class="picture">
                  <source class="" srcset="
                        https://resources.motogp.pulselive.com/photo-resources/2023/03/27/ef2af200-beec-45b5-bfac-0e9b453ad4ed/DHL_logo.png?width=100,
                        https://resources.motogp.pulselive.com/photo-resources/2023/03/27/ef2af200-beec-45b5-bfac-0e9b453ad4ed/DHL_logo.png?width=200 2x
                      " media="(min-width: 0px)" />
                  <img class="js-faded-image fade-in-on-load picture__img is-loaded"
                    src="https://resources.motogp.pulselive.com/photo-resources/2023/03/27/ef2af200-beec-45b5-bfac-0e9b453ad4ed/DHL_logo.png?width=100"
                    alt="DHL_logo" />
                </picture>
              </div>
            </a>
          </div>
        </div>
      </section>
      <div class="footer__menu-container">
        <div class="footer__menu-section">
          <div class="footer__menu-title">Media & Commercial</div>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link"> Official Sponsors </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> TV Broadcast </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> MotoGP™ Apps </a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-section">
          <div class="footer__menu-title">Help</div>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link"> Contact us </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link">FAQ </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Join MotoGP™ </a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-section">
          <div class="footer__menu-title">Tickets & Hospitality</div>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link"> Tickets</a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Hospitality </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Experiences </a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-section">
          <div class="footer__menu-title">Game Hub</div>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link"> MotoGP™ Fantasy </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> MotoGP™ Predictor </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> MotoGP™ eSport </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> MotoGP™ Guru </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> MotoGP™24 </a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-section">
          <div class="footer__menu-title">About Us</div>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link"> Dorna Sports </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Cookie Policy </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Legal Notice </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Privacy Policy </a>
            </li>

            <li class="footer__menu-item">
              <a class="footer__menu-link"> Purchase Policy </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright">© 2024 nhom 3</div>
    </div>
  </footer>

  <script>
    document
      .getElementById("navigateBtnCalendar")
      .addEventListener("click", function () {
        window.location.href = "calendar.html";
      });

    document
      .getElementById("navigateBtnResults&Standings")
      .addEventListener("click", function () {
        window.location.href = "result-standing.html";
      });

    document
      .getElementById("navigateBtnRiders&Teams")
      .addEventListener("click", function () {
        window.location.href = "rider-team.html";
      });

    document
      .getElementById("navigateBtnHomePage")
      .addEventListener("click", function () {
        window.location.href = "index.html";
      });
  </script>
</body>

</html>